/* imports */
@import url('./utilities.css');
@import url('./inputs.css');
@import url('./teamCreation.css');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Texturina&display=swap');
@import url('./legend.css');
@import url('./scores.css');

 /* variables */
 
 :root {
  --primary-bg-color: #333;
  --primary-font-color: #000;
  --heading-font-color: #fff;
  --dark-gray: #333;
  --medium-gray: #888;
  --light-gray: #aaa;
  --primary-font: 'Antic Slab', serif;
  --heading-font: 'Texturina', serif;
}

/* generic style reset */
* {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* typography */
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: var(--heading-font-color);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

/* colors */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
}

/* structure & styling */
.container {
  margin: 0 1em;
}

