.isHidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.parchment {
  background-image: url('/images/parchment.webp');
  color: #000;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 4px;
}